/* navbar */
/* .nav-btn {
  width: 7.938rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 5px;
}
*/

.nav-link {
  padding: 10px 8px 10px 8px !important;
  margin-right: 16px;
}
.nav-link {
  color: #ffff !important;
}
.nav-item {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.navbar-toggler1 {
  color: #ffff !important;
}
.nav-btn {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
}

/* navbar  */

/* Header  */
.header {
  height: 667px;
  width: 100%;
  background-color: #881337;
}

/* Header  */
/* Hero section  */
.hero-section {
  margin-top: 170.5px;
}
.hero-head {
  font-weight: 800;
  color: #ffff;
  gap: 24px;
  /* word-spacing: 16px; */
  line-height: 79.2px;
}
.hero-input {
  height: 48px;
  width: 515px;
  border-radius: 5px;
  border: none;
  padding: 12px 20px 12px 45px;
  margin-right: 16px;
}
.hero-inpput-btn {
  background-color: #be123c;
  padding: 12px;
  border: none;
  border-radius: 5px;
}
.search-text {
  padding: 0px 16px 0px 16px;
  color: #ffff;
  line-height: 24px;
}
.option-text {
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  color: #ffff;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
}
.hero-img {
  height: 478px;
  position: absolute;
  top: 189px;
  /* right: 30px; */
}
/* Hero section  */
.sponser {
  width: 100%;
  height: 128px;
  background-color: #f1f5f9;
}
.sponsor-img {
  margin-right: 40px;
  margin-left: 40px;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f1f1f1;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.sponsor-img {
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.sponsor-img:hover {
  transform: scale(1.1);
}
.sponsor-img-categories {
  display: inline-block;
  /* padding: 10px; */
  transition: transform 0.3s ease-in-out;
}
.sponsor-img-categories:hover {
  transform: scale(1.1);
}

@keyframes marquee {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

/* <!-- Featured art category  --> */
.featured-art-category {
  width: 100%;
  height: 586px;
  background-color: #ffffff;
  padding: 80px;
}
.categories {
  color: #2563eb;
  cursor: pointer;
}
.content-img:hover {
  transform: scale(1.1);
}
.content-img {
  transition: transform 0.3s ease-in-out;
}
/* <!-- Featured art category  --> */

/* Last master piece */
.last-masterpiece {
  height: 532px;
  width: 100%;
  background-color: #f1f5f9;
  padding: 80px;
}

#slider-container {
  height: 300px;
  width: 85vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 5px solid gray;
  border-top: 5px solid gray;
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 300px;
  width: 300px;
  margin: auto 10px;
  border-radius: 10;
  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}
.slide-img {
  height: 200px;
  margin-bottom: 110px !important;
}
/* Last master piece */

/* Expanding Services  */
.expanding-services {
  width: 100%;
  height: 522px;
  padding: 80px;
}
.sponsor-img-expanding {
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}
.sponsor-img-expanding:hover {
  transform: scale(1.1);
}
.find-service-btn {
  background-color: #be123c;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}

/* Expanding Services  */

/* Best solution  */
.best-solution {
  width: 100%;
  height: 557px;
  padding: 80px;
  background-color: #475569;
}
.explore-xinder-button {
  background-color: transparent;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  color: #ffff;
  border: 1px solid white;
  margin-top: 24px;
}
/* Best solution  */

/* Art gal  */
.art-gal {
  height: 544px;
  width: 100%;
  padding: 80px;
  background-color: #f1f5f9;
}
/* Art gal  */

/* Art events  */
.art-events {
  width: 100%;
  height: 584px;
  background-color: #ffffff;
  padding: 80px;
}
/* Art events  */

/* Add more  */
.add-more {
  height: 560px;
  width: 100%;
  padding: 80px;
  background-color: #0f172a;
}
/* Add more  */

/* footer  */
.footer {
  height: 622px;
  width: 100%;
  background-color: #ffffff;
}
.list {
  padding: 48px 0px 48px 0px;
}
.foot-li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #475569;
  padding: 12px 0px 12px 0px;
}
/* footer  */
