/* navbar */
/* .nav-btn {
  width: 7.938rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 5px;
}
*/

.nav-link {
  padding: 10px 8px 10px 8px !important;
  margin-right: 16px;
}
.nav-link {
  color: #ffff !important;
}
.nav-item {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.navbar-toggler1 {
  color: #ffff !important;
}
.nav-btn {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
}

/* navbar  */

/* Header  */
.header {
  height: 667px;
  width: 100%;
  background-color: #881337;
}

/* Header  */
/* Hero section  */
.hero-section {
  margin-top: 170.5px;
}
.hero-head {
  font-weight: 800;
  color: #ffff;
  gap: 24px;
  /* word-spacing: 16px; */
  line-height: 79.2px;
}
.hero-input {
  height: 48px;
  width: 515px;
  border-radius: 5px;
  border: none;
  padding: 12px 20px 12px 45px;
  margin-right: 16px;
}
.hero-inpput-btn {
  background-color: #be123c;
  padding: 12px;
  border: none;
  border-radius: 5px;
}
.search-text {
  padding: 0px 16px 0px 16px;
  color: #ffff;
  line-height: 24px;
}
.option-text {
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  color: #ffff;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
}
.hero-img {
  height: 478px;
  position: relative;
  top: -48px;
  /* right: 30px; */
}
/* Hero section  */
